In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
from rec_to_binaries.read_binaries import readTrodesExtractedDataFile

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
!ls /stelmo/loren/Jaq/raw/20190826/

20190826_Jaq_01_sleep.1.h264
20190826_Jaq_01_sleep.1.trackgeometry
20190826_Jaq_01_sleep.1.videoPositionTracking
20190826_Jaq_01_sleep.1.videoTimeStamps
20190826_Jaq_01_sleep.1.videoTimeStamps.cameraHWSync
20190826_Jaq_01_sleep.rec
20190826_Jaq_01_sleep.rec_header.xml
20190826_Jaq_02_lineartrack.1.h264
20190826_Jaq_02_lineartrack.1.trackgeometry
20190826_Jaq_02_lineartrack.1.videoPositionTracking
20190826_Jaq_02_lineartrack.1.videoTimeStamps
20190826_Jaq_02_lineartrack.1.videoTimeStamps.cameraHWSync
20190826_Jaq_02_lineartrack.rec
20190826_Jaq_02_lineartrack.rec_header.xml
20190826_Jaq_02_lineartrack.stateScriptLog
20190826_Jaq_03_sleep.1.h264
20190826_Jaq_03_sleep.1.trackgeometry
20190826_Jaq_03_sleep.1.videoPositionTracking
20190826_Jaq_03_sleep.1.videoTimeStamps
20190826_Jaq_03_sleep.1.videoTimeStamps.cameraHWSync
20190826_Jaq_03_sleep.rec
20190826_Jaq_03_sleep.rec_header.xml
20190826_Jaq_03_sleep.stateScriptLog
20190826_Jaq_04_lineartrack.1.h264
20190826_Jaq_04_lineartrack.1.trackgeometry
20190826_Jaq_04_lineartrack.1.videoPositionTracking
20190826_Jaq_04_lineartrack.1.videoTimeStamps
20190826_Jaq_04_lineartrack.1.videoTimeStamps.cameraHWSync
20190826_Jaq_04_lineartrack.rec
20190826_Jaq_04_lineartrack.rec_header.xml
20190826_Jaq_04_lineartrack.stateScriptLog
20190826_Jaq_05_sleep.1.h264
20190826_Jaq_05_sleep.1.trackgeometry
20190826_Jaq_05_sleep.1.videoPositionTracking
20190826_Jaq_05_sleep.1.videoTimeStamps
20190826_Jaq_05_sleep.1.videoTimeStamps.cameraHWSync
20190826_Jaq_05_sleep.rec
20190826_Jaq_05_sleep.rec_header.xml
20190826_Jaq_05_sleep.stateScriptLog
20190826_Jaq_06_lineartrack.1.h264
20190826_Jaq_06_lineartrack.1.trackgeometry
20190826_Jaq_06_lineartrack.1.videoPositionTracking
20190826_Jaq_06_lineartrack.1.videoTimeStamps
20190826_Jaq_06_lineartrack.1.videoTimeStamps.cameraHWSync
20190826_Jaq_06_lineartrack.rec
20190826_Jaq_06_lineartrack.rec_header.xml
20190826_Jaq_06_lineartrack.stateScriptLog
20190826_Jaq_07_sleep.1.h264
20190826_Jaq_07_sleep.1.trackgeometry
20190826_Jaq_07_sleep.1.videoPositionTracking
20190826_Jaq_07_sleep.1.videoTimeStamps
20190826_Jaq_07_sleep.1.videoTimeStamps.cameraHWSync
20190826_Jaq_07_sleep.rec
20190826_Jaq_07_sleep.rec_header.xml
20190826_Jaq_07_sleep.stateScriptLog
20190826.trodesconf

In [9]:
!ls /stelmo/loren/Jaq/preprocessing/20190826/20190826_Jaq_04_lineartrack.time

20190826_Jaq_04_lineartrack.continuoustime.dat
20190826_Jaq_04_lineartrack.exporttime.log
20190826_Jaq_04_lineartrack.time.dat

In [86]:
continuous_time = readTrodesExtractedDataFile(
    '/stelmo/loren/Jaq/preprocessing/20190826/20190826_Jaq_04_lineartrack.time/20190826_Jaq_04_lineartrack.continuoustime.dat')
continuous_time = pd.DataFrame(continuous_time['data'])
continuous_time

,trodestime,systime,time_chunk_label,adjusted_systime
0,144526916,1566868236717032814,0,1566868236717035264
1,144526917,1566868236717048321,0,1566868236717068800
2,144526918,1566868236717056628,0,1566868236717102080
3,144526919,1566868236717132839,0,1566868236717135360
4,144526920,1566868236717148186,0,1566868236717168640
...,...,...,...,...
20942675,165470059,1566868934823085313,3,1566868934823126016
20942676,165470060,1566868934823159358,3,1566868934823159552
20942677,165470061,1566868934823184498,3,1566868934823192832
20942678,165470062,1566868934823192822,3,1566868934823225856
20942679,165470063,1566868934823258585,3,1566868934823259392

In [68]:
NANOSECONDS_TO_SECONDS = 1E9

systime_seconds = np.asarray(continuous_time.adjusted_systime).astype(
    np.float64) / NANOSECONDS_TO_SECONDS

In [69]:
systime_seconds[0], systime_seconds[-1]

(1566868236.7170353, 1566868934.8232594)

In [80]:
systime_seconds[-1] - systime_seconds[0]

1425.126577615738

In [70]:
bad_interval = np.asarray([1566868934.8232594, 1566869278.0735946])

In [71]:
is_bad_inteval = (systime_seconds >= bad_interval[0]) & (systime_seconds < bad_interval[1])
is_bad_inteval.sum()

1

In [72]:
bad_interval[0] - systime_seconds[0]

698.1062240600586

In [73]:
bad_interval[1] - systime_seconds[-1]

343.2503352165222

In [74]:
bad_interval[0] - systime_seconds[-1]

0.0

In [82]:
!ls /stelmo/loren/Jaq/preprocessing/20190826/20190826_Jaq_04_lineartrack.1.pos/

20190826_Jaq_04_lineartrack.1.pos_cameraHWFrameCount.dat
20190826_Jaq_04_lineartrack.1.pos_online.dat
20190826_Jaq_04_lineartrack.1.pos_timestamps.dat

In [104]:
pos_cameraHWFrameCount = readTrodesExtractedDataFile(
    '/stelmo/loren/Jaq/preprocessing/20190826/20190826_Jaq_05_sleep.1.pos/20190826_Jaq_05_sleep.1.pos_cameraHWFrameCount.dat')

pos_cameraHWFrameCount = pd.DataFrame(pos_cameraHWFrameCount['data'])
pos_cameraHWFrameCount

/home/edeno/Documents/Github/rec_to_binaries/rec_to_binaries/read_binaries.py:73: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  def write_trodes_extracted_datafile(filename, data_file):

       PosTimestamp  HWframeCount          HWTimestamp
0         175767807          2487  1566869278036755400
1         175768736          2488  1566869278070080400
2         175769941          2489  1566869278103426600
3         175770820          2490  1566869278136751600
4         175771726          2491  1566869278170097800
...             ...           ...                  ...
42736     218519807         42729  1566870703091454700
42737     218520729         42730  1566870703124800500
42738     218521622         42731  1566870703158125100
42739     218522825         42732  1566870703191470900
42740     218523717         42733  1566870703224795500

[42741 rows x 3 columns]

In [99]:
pos_timestamps = readTrodesExtractedDataFile(
    '/stelmo/loren/Jaq/preprocessing/20190826/')
pos_timestamps = pd.DataFrame(pos_timestamps['data'])
pos_timestamps

                   0
0      3.384377e-258
1      3.388514e-258
2      3.392668e-258
3      3.396266e-258
4      3.432484e-258
...              ...
21365  6.370247e-246
21366  6.379378e-246
21367  6.387243e-246
21368  6.396444e-246
21369  6.405592e-246

[21370 rows x 1 columns]

In [101]:
pos_timestamps.values[0, 0]

3.3843771734463022e-258

In [143]:
dat = readTrodesExtractedDataFile(
    '/stelmo/abhilasha/animals/Jaq/preprocessing/20190826/20190826_Jaq_01_sleep.1.pos/20190826_Jaq_01_sleep.1.pos_online.dat')
dat = pd.DataFrame(dat['data'])
dat

/home/edeno/Documents/Github/rec_to_binaries/rec_to_binaries/read_binaries.py:73: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  return np.dtype(typearr)

           time  xloc  yloc  xloc2  yloc2
0       6374121   493   472      0      0
1       6375030   493   472      0      0
2       6375925   494   471      0      0
3       6376821   494   471      0      0
4       6378031   494   472      0      0
...         ...   ...   ...    ...    ...
39441  45831588   462   381      0      0
39442  45832490   461   382      0      0
39443  45833379   462   381      0      0
39444  45834567   462   382      0      0
39445  45835471   470   380      0      0

[39446 rows x 5 columns]

In [145]:
dat = readTrodesExtractedDataFile(
    '/stelmo/abhilasha/animals/Jaq/preprocessing/20190826/20190826_Jaq_01_sleep.1.pos/20190826_Jaq_01_sleep.1.pos_cameraHWSync.dat')
dat = pd.DataFrame(dat['data'])
dat

/home/edeno/Documents/Github/rec_to_binaries/rec_to_binaries/read_binaries.py:73: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  return np.dtype(typearr)

       PosTimestamp  HWframeCount          HWTimestamp
0           6374121          4291  1566863631564017400
1           6375030          4292  1566863631597342300
2           6375925          4293  1566863631630688500
3           6376821          4294  1566863631664013500
4           6378031          4295  1566863631697338400
...             ...           ...                  ...
39441      45831588         39434  1566864946813751700
39442      45832490         39435  1566864946847076600
39443      45833379         39436  1566864946880401500
39444      45834567         39437  1566864946913747700
39445      45835471         39438  1566864946947072600

[39446 rows x 3 columns]

In [151]:
dat = readTrodesExtractedDataFile(
    '/stelmo/abhilasha/animals/Jaq/preprocessing/20190826/20190826_Jaq_01_sleep.LFP/20190826_Jaq_01_sleep.timestamps.dat')
dat = pd.DataFrame(dat['data'])
dat

/home/edeno/Documents/Github/rec_to_binaries/rec_to_binaries/read_binaries.py:73: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  return np.dtype(typearr)

             time
0         6373442
1         6373462
2         6373482
3         6373502
4         6373522
...           ...
1973094  45835486
1973095  45835506
1973096  45835526
1973097  45835546
1973098  45835566

[1973099 rows x 1 columns]

In [ ]:
dat = readTrodesExtractedDataFile(
    '/stelmo/abhilasha/animals/Jaq/preprocessing/20190826/20190826_Jaq_01_sleep.')
dat = pd.DataFrame(dat['data'])
dat