In [1]:
%matplotlib inline
%reload_ext autoreload
%autoreload 2
%config InlineBackend.figure_format = 'retina'

In [2]:
from rec_to_binaries.read_binaries import readTrodesExtractedDataFile

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

readTrodesExtractedDataFile(
    '../test_data/lotus/preprocessing/20190902/20190902_lotus_06_r3.time/20190902_lotus_06_r3.continuoustime.dat')

/home/edeno/Documents/Github/rec_to_binaries/rec_to_binaries/read_binaries.py:70: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  return np.dtype(typearr)

{'description': 'Continuous time periods (start and end times)',
 'byte_order': 'little endian',
 'original_file': '20190902_lotus_06_r3.rec',
 'clockrate': '30000',
 'system_time_at_creation': '1567459146943',
 'timestamp_at_creation': '390829088',
 'trodes_version': '1.8.2',
 'compile_date': 'May 16 2019',
 'compile_time': '10:32:19',
 'qt_version': '5.9.8',
 'commit_tag': 'heads/Release_1.8.2-0-g9a3e37c',
 'controller_firmware': '0.0',
 'headstage_firmware': '3.9',
 'autosettle': '0',
 'smartref': '0',
 'gyro': '0',
 'accelerometer': '0',
 'magnetometer': '0',
 'time_offset': '0',
 'fields': '<trodestime uint32><systime int64>',
 'data': array([(390923532, 1567459150091663430), (390923533, 1567459150091671120),
        (390923534, 1567459150091674111), ...,
        (443082985, 1567460888733625293), (443082986, 1567460888733629636),
        (443082987, 1567460888733631849)],
       dtype=[('trodestime', '<u4'), ('systime', '<i8')])}

In [73]:
from rec_to_binaries.adjust_timestamps import _label_time_chunks, _regress_timestamps

continuoustime_filename = '../test_data/lotus/preprocessing/20190902/20190902_lotus_06_r3.time/20190902_lotus_06_r3.continuoustime.dat'

data_file = readTrodesExtractedDataFile(continuoustime_filename)
new_data = (
    pd.DataFrame(data_file['data'])
    .assign(
        time_chunk_label=lambda df: _label_time_chunks(df.trodestime))
    .assign(
        adjusted_systime=lambda df: _regress_timestamps(df.trodestime,
                                               df.systime)))
new_data

/home/edeno/Documents/Github/rec_to_binaries/rec_to_binaries/read_binaries.py:70: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  return np.dtype(typearr)

,trodestime,systime,time_chunk_label,adjusted_systime
0,390923532,1567459150091663430,0,1567459150091796480
1,390923533,1567459150091671120,0,1567459150091829504
2,390923534,1567459150091674111,0,1567459150091863040
3,390923535,1567459150091676962,0,1567459150091896320
4,390923536,1567459150091679726,0,1567459150091929600
...,...,...,...,...
52159451,443082983,1567460888733526586,0,1567460888733756416
52159452,443082984,1567460888733528880,0,1567460888733789952
52159453,443082985,1567460888733625293,0,1567460888733822976
52159454,443082986,1567460888733629636,0,1567460888733856512
52159455,443082987,1567460888733631849,0,1567460888733889792

In [72]:
from rec_to_binaries.create_system_time import infer_systime

new_data2 = infer_systime(data_file)
new_data2

,trodestime,systime,time_chunk_label,adjusted_systime
0,390923532,1567459146943000000,1,1567459146943000000
1,390923533,1567459146943033333,1,1567459146943033333
2,390923534,1567459146943066666,1,1567459146943066666
3,390923535,1567459146943100000,1,1567459146943100000
4,390923536,1567459146943133333,1,1567459146943133333
...,...,...,...,...
52159451,443082983,1567460885591366666,1,1567460885591366666
52159452,443082984,1567460885591400000,1,1567460885591400000
52159453,443082985,1567460885591433333,1,1567460885591433333
52159454,443082986,1567460885591466666,1,1567460885591466666
52159455,443082987,1567460885591500000,1,1567460885591500000

In [74]:
new_data.dtypes, new_data2.dtypes

(trodestime          uint32
 systime              int64
 time_chunk_label     int64
 adjusted_systime     int64
 dtype: object,
 trodestime          uint32
 systime              int64
 time_chunk_label     int64
 adjusted_systime     int64
 dtype: object)

In [75]:
np.diff(new_data.adjusted_systime)

array([33024, 33536, 33280, ..., 33024, 33536, 33280])

In [76]:
np.diff(new_data2.adjusted_systime)

array([33333, 33333, 33334, ..., 33333, 33333, 33334])

In [77]:
new_data.adjusted_systime[0], new_data.systime[0]

(1567459150091796480, 1567459150091663430)

In [78]:
new_data2.adjusted_systime[0]

1567459146943000000

In [79]:
pd.to_datetime(new_data2.adjusted_systime[0])

Timestamp('2019-09-02 21:19:06.943000')

In [80]:
pd.to_datetime(new_data.adjusted_systime[0])

Timestamp('2019-09-02 21:19:10.091796480')

In [64]:
pd.to_datetime(new_data.systime[0])

Timestamp('2019-09-02 21:19:10.091663430')

In [67]:
pd.to_datetime(int(data_file['system_time_at_creation']), unit='ms')

Timestamp('2019-09-02 21:19:06.943000')

In [69]:
t = pd.to_datetime(int(data_file['system_time_at_creation']), unit='ms')
t

Timestamp('2019-09-02 21:19:06.943000')

In [71]:
np.log(t.value)

41.89598760452183

In [36]:
pd.to_datetime

Signature:
pd.to_datetime(
    arg,
    errors='raise',
    dayfirst=False,
    yearfirst=False,
    utc=None,
    format=None,
    exact=True,
    unit=None,
    infer_datetime_format=False,
    origin='unix',
    cache=True,
)
Docstring:
Convert argument to datetime.

Parameters
----------
arg : int, float, str, datetime, list, tuple, 1-d array, Series DataFrame/dict-like
    The object to convert to a datetime.
errors : {'ignore', 'raise', 'coerce'}, default 'raise'
    - If 'raise', then invalid parsing will raise an exception.
    - If 'coerce', then invalid parsing will be set as NaT.
    - If 'ignore', then invalid parsing will return the input.
dayfirst : bool, default False
    Specify a date parse order if `arg` is str or its list-likes.
    If True, parses dates with the day first, eg 10/11/12 is parsed as
    2012-11-10.
    Warning: dayfirst=True is not strict, but will prefer to parse
    with day first (this is a known bug, based on dateutil behavior).
yearfirst : bool, default False
    Specify a date parse order if `arg` is str or its list-likes.

    - If True parses dates with the year first, eg 10/11/12 is parsed as
      2010-11-12.
    - If both dayfirst and yearfirst are True, yearfirst is preceded (same
      as dateutil).

    Warning: yearfirst=True is not strict, but will prefer to parse
    with year first (this is a known bug, based on dateutil behavior).
utc : bool, default None
    Return UTC DatetimeIndex if True (converting any tz-aware
    datetime.datetime objects as well).
format : str, default None
    The strftime to parse time, eg "%d/%m/%Y", note that "%f" will parse
    all the way up to nanoseconds.
    See strftime documentation for more information on choices:
    https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior.
exact : bool, True by default
    Behaves as:
    - If True, require an exact format match.
    - If False, allow the format to match anywhere in the target string.

unit : str, default 'ns'
    The unit of the arg (D,s,ms,us,ns) denote the unit, which is an
    integer or float number. This will be based off the origin.
    Example, with unit='ms' and origin='unix' (the default), this
    would calculate the number of milliseconds to the unix epoch start.
infer_datetime_format : bool, default False
    If True and no `format` is given, attempt to infer the format of the
    datetime strings, and if it can be inferred, switch to a faster
    method of parsing them. In some cases this can increase the parsing
    speed by ~5-10x.
origin : scalar, default 'unix'
    Define the reference date. The numeric values would be parsed as number
    of units (defined by `unit`) since this reference date.

    - If 'unix' (or POSIX) time; origin is set to 1970-01-01.
    - If 'julian', unit must be 'D', and origin is set to beginning of
      Julian Calendar. Julian day number 0 is assigned to the day starting
      at noon on January 1, 4713 BC.
    - If Timestamp convertible, origin is set to Timestamp identified by
      origin.
cache : bool, default True
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets. The cache is only
    used when there are at least 50 values. The presence of out-of-bounds
    values will render the cache unusable and may slow down parsing.

    .. versionadded:: 0.23.0

    .. versionchanged:: 0.25.0
        - changed default value from False to True.

Returns
-------
datetime
    If parsing succeeded.
    Return type depends on input:

    - list-like: DatetimeIndex
    - Series: Series of datetime64 dtype
    - scalar: Timestamp

    In case when it is not possible to return designated types (e.g. when
    any element of input is before Timestamp.min or after Timestamp.max)
    return will have datetime.datetime type (or corresponding
    array/Series).

See Also
--------
DataFrame.astype : Cast argument to a specified dtype.
to_timedelta : Convert argument to timedelta.
convert_dtypes : Convert dtypes.

Examples
--------
Assembling a datetime from multiple columns of a DataFrame. The keys can be
common abbreviations like ['year', 'month', 'day', 'minute', 'second',
'ms', 'us', 'ns']) or plurals of the same

>>> df = pd.DataFrame({'year': [2015, 2016],
...                    'month': [2, 3],
...                    'day': [4, 5]})
>>> pd.to_datetime(df)
0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

If a date does not meet the `timestamp limitations
<https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html
#timeseries-timestamp-limits>`_, passing errors='ignore'
will return the original input instead of raising any exception.

Passing errors='coerce' will force an out-of-bounds date to NaT,
in addition to forcing non-dates (or non-parseable dates) to NaT.

>>> pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')
datetime.datetime(1300, 1, 1, 0, 0)
>>> pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')
NaT

Passing infer_datetime_format=True can often-times speedup a parsing
if its not an ISO8601 format exactly, but in a regular format.

>>> s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000'] * 1000)
>>> s.head()
0    3/11/2000
1    3/12/2000
2    3/13/2000
3    3/11/2000
4    3/12/2000
dtype: object

>>> %timeit pd.to_datetime(s, infer_datetime_format=True)  # doctest: +SKIP
100 loops, best of 3: 10.4 ms per loop

>>> %timeit pd.to_datetime(s, infer_datetime_format=False)  # doctest: +SKIP
1 loop, best of 3: 471 ms per loop

Using a unix epoch time

>>> pd.to_datetime(1490195805, unit='s')
Timestamp('2017-03-22 15:16:45')
>>> pd.to_datetime(1490195805433502912, unit='ns')
Timestamp('2017-03-22 15:16:45.433502912')

.. warning:: For float arg, precision rounding might happen. To prevent
    unexpected behavior use a fixed-width exact type.

Using a non-unix epoch origin

>>> pd.to_datetime([1, 2, 3], unit='D',
...                origin=pd.Timestamp('1960-01-01'))
DatetimeIndex(['1960-01-02', '1960-01-03', '1960-01-04'], dtype='datetime64[ns]', freq=None)
File:      ~/miniconda3/envs/rec_to_binaries/lib/python3.7/site-packages/pandas/core/tools/datetimes.py
Type:      function

In [29]:
data_file['system_time_at_creation']

'1567459146943'

In [30]:
data_file

{'description': 'Continuous time periods (start and end times)',
 'byte_order': 'little endian',
 'original_file': '20190902_lotus_06_r3.rec',
 'clockrate': '30000',
 'system_time_at_creation': '1567459146943',
 'timestamp_at_creation': '390829088',
 'trodes_version': '1.8.2',
 'compile_date': 'May 16 2019',
 'compile_time': '10:32:19',
 'qt_version': '5.9.8',
 'commit_tag': 'heads/Release_1.8.2-0-g9a3e37c',
 'controller_firmware': '0.0',
 'headstage_firmware': '3.9',
 'autosettle': '0',
 'smartref': '0',
 'gyro': '0',
 'accelerometer': '0',
 'magnetometer': '0',
 'time_offset': '0',
 'fields': '<trodestime uint32><systime int64>',
 'data': array([(390923532, 1567459150091663430), (390923533, 1567459150091671120),
        (390923534, 1567459150091674111), ...,
        (443082985, 1567460888733625293), (443082986, 1567460888733629636),
        (443082987, 1567460888733631849)],
       dtype=[('trodestime', '<u4'), ('systime', '<i8')])}

In [34]:
from rec_to_binaries.adjust_timestamps import _insert_new_data

_insert_new_data(data_file, new_data)

{'description': 'Continuous time periods (start and end times)',
 'byte_order': 'little endian',
 'original_file': '20190902_lotus_06_r3.rec',
 'clockrate': '30000',
 'system_time_at_creation': '1567459146943',
 'timestamp_at_creation': '390829088',
 'trodes_version': '1.8.2',
 'compile_date': 'May 16 2019',
 'compile_time': '10:32:19',
 'qt_version': '5.9.8',
 'commit_tag': 'heads/Release_1.8.2-0-g9a3e37c',
 'controller_firmware': '0.0',
 'headstage_firmware': '3.9',
 'autosettle': '0',
 'smartref': '0',
 'gyro': '0',
 'accelerometer': '0',
 'magnetometer': '0',
 'time_offset': '0',
 'fields': '<trodestime uint32><systime int64><time_chunk_label int64><adjusted_systime int64>',
 'data': array([(390923532, 1567459150091663430, 0, 1567459150091796480),
        (390923533, 1567459150091671120, 0, 1567459150091829504),
        (390923534, 1567459150091674111, 0, 1567459150091863040), ...,
        (443082985, 1567460888733625293, 0, 1567460888733822976),
        (443082986, 1567460888733629636, 0, 1567460888733856512),
        (443082987, 1567460888733631849, 0, 1567460888733889792)],
       dtype=(numpy.record, [('trodestime', '<u4'), ('systime', '<i8'), ('time_chunk_label', '<i8'), ('adjusted_systime', '<i8')]))}

In [35]:
from rec_to_binaries.adjust_timestamps import _insert_new_data

_insert_new_data(data_file, new_data2)

{'description': 'Continuous time periods (start and end times)',
 'byte_order': 'little endian',
 'original_file': '20190902_lotus_06_r3.rec',
 'clockrate': '30000',
 'system_time_at_creation': '1567459146943',
 'timestamp_at_creation': '390829088',
 'trodes_version': '1.8.2',
 'compile_date': 'May 16 2019',
 'compile_time': '10:32:19',
 'qt_version': '5.9.8',
 'commit_tag': 'heads/Release_1.8.2-0-g9a3e37c',
 'controller_firmware': '0.0',
 'headstage_firmware': '3.9',
 'autosettle': '0',
 'smartref': '0',
 'gyro': '0',
 'accelerometer': '0',
 'magnetometer': '0',
 'time_offset': '0',
 'fields': '<trodestime uint32><systime int64><time_chunk_label int64><adjusted_systime int64>',
 'data': array([(390923532, 1567459146943, 1, 1567459146943),
        (390923533, 1567459180276, 1, 1567459180276),
        (390923534, 1567459213609, 1, 1567459213609), ...,
        (443082985, 3306107580276, 1, 3306107580276),
        (443082986, 3306107613609, 1, 3306107613609),
        (443082987, 3306107646943, 1, 3306107646943)],
       dtype=(numpy.record, [('trodestime', '<u4'), ('systime', '<i8'), ('time_chunk_label', '<i8'), ('adjusted_systime', '<i8')]))}

In [53]:
'systime' not in data_file['data'].dtype.names

False

8192